
<p>
  <strong>Venue:</strong>
  <%= @venue.name %>
</p>
 
<p>
  <strong>City:</strong>
  <%= @venue.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @venue.state %>
</p>

<p>
  <strong>Family Friendly?</strong>
  <%= @venue.familyfriendly %>
</p>